[submodule "home/vim/bundle/coffee"]
	path = home/vim/bundle/coffee
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/vim/bundle/sparkup"]
	path = home/vim/bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "home/vim/bundle/ack"]
	path = home/vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/gundo"]
	path = home/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "home/vim/bundle/unimpaired"]
	path = home/vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/vim/bundle/less"]
	path = home/vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/vim/bundle/argtextobject"]
	path = home/vim/bundle/argtextobject
	url = https://github.com/inkarkat/argtextobj.vim.git
[submodule "home/vim/bundle/css3"]
	path = home/vim/bundle/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "home/vim/bundle/ctrlp"]
	path = home/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "home/vim/bundle/surround"]
	path = home/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/pastebin"]
	path = home/vim/bundle/pastebin
	url = https://github.com/mattn/pastebin-vim.git
[submodule "home/vim/bundle/css-color"]
	path = home/vim/bundle/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "home/vim/bundle/repeat"]
	path = home/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/jedi"]
	path = home/vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "home/vim/bundle/rainbow"]
	path = home/vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "home/vim/bundle/vimerl"]
	path = home/vim/bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "home/vim/bundle/typescript"]
	path = home/vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "home/urxvt/urxvt-perls"]
	path = home/urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "home/vim/bundle/javascript"]
	path = home/vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/vim/bundle/tagbar"]
	path = home/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "home/vim/bundle/syntastic"]
	path = home/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/vim/bundle/markdown"]
	path = home/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/vim/bundle/airline"]
	path = home/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "home/vim/bundle/jade"]
	path = home/vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "home/vim/bundle/purescript"]
	path = home/vim/bundle/purescript
	url = https://github.com/raichoo/purescript-vim.git
[submodule "home/vim/bundle/python-pep8-indent"]
	path = home/vim/bundle/python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "home/vim/bundle/editorconfig"]
	path = home/vim/bundle/editorconfig
	url = https://github.com/timheap/editorconfig-vim.git
