[submodule "vim/bundle/coffee"]
	path = vim/bundle/coffee
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
