snippet class
	/**
	 * ${1}
	 **/
	class ${2:ClassName} {
		${3}
	}
snippet constructor
		function __construct(${5:argument}) {
			${6:// code...}
		}
snippet fun
	${1:public }function ${2:functionName}(${3}) {
		${4:// code...}
	}
